*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
public (2).zip
public (3).zip
public.zip
resources (2).zip
resources (3).zip
resources (4).zip
resources (5).zip
resources (6).zip
resources (7).zip
resources.zip
routes (2).zip
routes (3).zip
routes.zip
vendor.zip
routes.zip
vendor.zip
